@font-face {
    font-family: "Lemon Milk";
    src: url("/fonts/LEMONMILK-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("/fonts/LEMONMILK-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("/fonts/LEMONMILK-Bold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "TCM";
    src: url("/fonts/TCM_____.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TCB";
    src: url("/fonts/TCB_____.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-backdrop.fade.show {
    opacity: 0.9 !important;
    background-color: #000 !important;
}

:root {
    --bs-modal-backdrop-bg: #000;
    --bs-modal-backdrop-opacity: 0.95;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 80px;
}
